* text=auto !eol
IMG/icones/aiff-dist.png -text
IMG/icones/asf-dist.png -text
IMG/icones/avi-dist.png -text
IMG/icones/bmp-dist.png -text
IMG/icones/bz2-dist.png -text
IMG/icones/defaut-dist.png -text
IMG/icones/doc-dist.png -text
IMG/icones/eps-dist.png -text
IMG/icones/gif-dist.png -text
IMG/icones/gz-dist.png -text
IMG/icones/html-dist.png -text
IMG/icones/jpg-dist.png -text
IMG/icones/mid-dist.png -text
IMG/icones/mov-dist.png -text
IMG/icones/mp3-dist.png -text
IMG/icones/mpg-dist.png -text
IMG/icones/ogg-dist.png -text
IMG/icones/pdf-dist.png -text
IMG/icones/png-dist.png -text
IMG/icones/ppt-dist.png -text
IMG/icones/ps-dist.png -text
IMG/icones/psd-dist.png -text
IMG/icones/qt-dist.png -text
IMG/icones/ra-dist.png -text
IMG/icones/ram-dist.png -text
IMG/icones/rm-dist.png -text
IMG/icones/rtf-dist.png -text
IMG/icones/sit-dist.png -text
IMG/icones/tgz-dist.png -text
IMG/icones/tif-dist.png -text
IMG/icones/txt-dist.png -text
IMG/icones/wav-dist.png -text
IMG/icones/xls-dist.png -text
IMG/icones/xml-dist.png -text
IMG/icones/zip-dist.png -text
NAVPICS/big-logo-spip.gif -text
NAVPICS/logo-spip.gif -text
NAVPICS/medium-logo-spip.gif -text
NAVPICS/petit-logo-spip.gif -text
NAVPICS/point.gif -text
NAVPICS/rien.gif -text
NAVPICS/small-logo-spip.gif -text
NAVPICS/tit-fleche.gif -text
ecrire/puce.gif -text
/puce.gif -text
