* text=auto !eol
/INSTALL.txt -text
/UPGRADE.txt -text
dist/favicon.ico -text
dist/feed.png -text
dist/inc-entete.html -text
dist/inc-forum.html -text
dist/inc-head.html -text
dist/inc-petition.html -text
dist/inc-pied.html -text
dist/inc-rubriques.html -text
dist/polices/dustismo-license.txt -text svneol=unset#application/octet-stream
dist/polices/dustismo.ttf -text
dist/polices/dustismo_bold.ttf -text
dist/puce.gif -text
dist/puce_rtl.gif -text
dist/spip.png -text
dist/style_prive.html -text
dist/win_width.htc -text
ecrire/action/autoriser.php -text
ecrire/action/ical.php -text
ecrire/action/iconifier.php -text
ecrire/action/instituer.php -text
ecrire/action/joindre.php -text
ecrire/action/logout.php -text
ecrire/action/petitionner.php -text
ecrire/action/purger.php -text
ecrire/action/redirect.php -text
ecrire/action/supprimer.php -text
ecrire/action/test_dirs.php -text
ecrire/action/tester.php -text
ecrire/action/tourner.php -text
ecrire/charsets/cp1250.php -text
ecrire/charsets/cp1251.php -text
ecrire/charsets/cp1256.php -text
ecrire/charsets/html.php -text
ecrire/charsets/iso-8859-1.php -text
ecrire/charsets/iso-8859-15.php -text
ecrire/charsets/iso-8859-6.php -text
ecrire/charsets/iso-8859-9.php -text
ecrire/charsets/mathml.php -text
ecrire/charsets/translit.php -text
ecrire/charsets/translitcomplexe.php -text
ecrire/exec/accueil.php -text
ecrire/exec/admin_effacer.php -text
ecrire/exec/admin_plugin.php -text
ecrire/exec/admin_repair.php -text
ecrire/exec/admin_tech.php -text
ecrire/exec/admin_vider.php -text
ecrire/exec/aide_index.php -text
ecrire/exec/ajax_page.php -text
ecrire/exec/articles.php -text
ecrire/exec/articles_edit.php -text
ecrire/exec/articles_forum.php -text
ecrire/exec/articles_ortho.php -text
ecrire/exec/articles_page.php -text
ecrire/exec/articles_tous.php -text
ecrire/exec/articles_versions.php -text
ecrire/exec/auteur_infos.php -text
ecrire/exec/auteurs.php -text
ecrire/exec/auteurs_edit.php -text
ecrire/exec/breves.php -text
ecrire/exec/breves_edit.php -text
ecrire/exec/breves_voir.php -text
ecrire/exec/brouteur.php -text
ecrire/exec/brouteur_frame.php -text
ecrire/exec/config_contenu.php -text
ecrire/exec/config_fonctions.php -text
ecrire/exec/config_lang.php -text
ecrire/exec/config_multilang.php -text
ecrire/exec/configuration.php -text
ecrire/exec/controle_forum.php -text
ecrire/exec/controle_petition.php -text
ecrire/exec/convert_utf8.php -text
ecrire/exec/delete_all.php -text
ecrire/exec/documents_liste.php -text
ecrire/exec/export_all.php -text
ecrire/exec/forum.php -text
ecrire/exec/forum_admin.php -text
ecrire/exec/forum_envoi.php -text
ecrire/exec/import_all.php -text
ecrire/exec/install.php -text
ecrire/exec/js_menu_rubriques.php -text
ecrire/exec/lang_raccourcis.php -text
ecrire/exec/message.php -text
ecrire/exec/message_edit.php -text
ecrire/exec/messagerie.php -text
ecrire/exec/mots_edit.php -text
ecrire/exec/mots_tous.php -text
ecrire/exec/mots_type.php -text
ecrire/exec/naviguer.php -text
ecrire/exec/recherche.php -text
ecrire/exec/rubriques_edit.php -text
ecrire/exec/sites_edit.php -text
ecrire/exec/sites_tous.php -text
ecrire/exec/statistiques_lang.php -text
ecrire/exec/statistiques_referers.php -text
ecrire/exec/statistiques_repartition.php -text
ecrire/exec/statistiques_svg.php -text
ecrire/exec/statistiques_visites.php -text
ecrire/exec/synchro.php -text
ecrire/exec/upgrade.php -text
ecrire/img_pack/admin-12.gif -text
ecrire/img_pack/administration-24.gif -text
ecrire/img_pack/administration-48.png -text
ecrire/img_pack/agenda-24.gif -text
ecrire/img_pack/aide-48.png -text
ecrire/img_pack/aide-48_rtl.png -text
ecrire/img_pack/aide.gif -text
ecrire/img_pack/aide_rtl.gif -text
ecrire/img_pack/annonce.gif -text
ecrire/img_pack/article-24.gif -text
ecrire/img_pack/asuivre-24.gif -text
ecrire/img_pack/asuivre-48.png -text
ecrire/img_pack/attachment.gif -text
ecrire/img_pack/auteur-24.gif -text
ecrire/img_pack/barre-blanc.gif -text
ecrire/img_pack/barre-d.gif -text
ecrire/img_pack/barre-g.gif -text
ecrire/img_pack/barre-noir.gif -text
ecrire/img_pack/base-24.gif -text
ecrire/img_pack/breve-24.gif -text
ecrire/img_pack/cache-24.gif -text
ecrire/img_pack/cadenas-24.gif -text
ecrire/img_pack/cal-jour.gif -text
ecrire/img_pack/cal-messagerie.png -text
ecrire/img_pack/cal-mois.gif -text
ecrire/img_pack/cal-rv.png -text
ecrire/img_pack/cal-semaine.gif -text
ecrire/img_pack/cal-suivi.png -text
ecrire/img_pack/cal-today.gif -text
ecrire/img_pack/calendrier-24.gif -text
ecrire/img_pack/choix-layout.gif -text
ecrire/img_pack/choix-layout_rtl.gif -text
ecrire/img_pack/choix-layout_rtl_he.gif -text
ecrire/img_pack/cookie-24.gif -text
ecrire/img_pack/creer.gif -text
ecrire/img_pack/croix-rouge.gif -text
ecrire/img_pack/deconnecter-24.gif -text
ecrire/img_pack/degrade.jpg -text
ecrire/img_pack/deplierbas.gif -text
ecrire/img_pack/deplierhaut.gif -text
ecrire/img_pack/deplierhaut_rtl.gif -text
ecrire/img_pack/descendre-16.png -text
ecrire/img_pack/doc-24.gif -text
ecrire/img_pack/documents-48.png -text
ecrire/img_pack/documents-48_rtl.png -text
ecrire/img_pack/edit.gif -text
ecrire/img_pack/effacer-cache-24.gif -text
ecrire/img_pack/feed.png -text
ecrire/img_pack/fiche-perso-24.gif -text
ecrire/img_pack/fiche-perso.png -text
ecrire/img_pack/fleche-left.png -text
ecrire/img_pack/fleche-right.png -text
ecrire/img_pack/fond-agenda.gif -text
ecrire/img_pack/fond-calendrier.gif -text
ecrire/img_pack/fond-gris-anim.gif -text
ecrire/img_pack/fond-stats.gif -text
ecrire/img_pack/forum-admin-24.gif -text
ecrire/img_pack/forum-droite.gif -text
ecrire/img_pack/forum-droite_rtl.gif -text
ecrire/img_pack/forum-interne-24.gif -text
ecrire/img_pack/forum-public-24.gif -text
ecrire/img_pack/forum-vert.gif -text
ecrire/img_pack/groupe-mot-24.gif -text
ecrire/img_pack/heures-am.png -text
ecrire/img_pack/heures-pm.png -text
ecrire/img_pack/heures-tout.png -text
ecrire/img_pack/historique-24.gif -text
ecrire/img_pack/icones/abw-dist.png -text
ecrire/img_pack/icones/ai-dist.png -text
ecrire/img_pack/icones/aiff-dist.png -text
ecrire/img_pack/icones/asf-dist.png -text
ecrire/img_pack/icones/avi-dist.png -text
ecrire/img_pack/icones/blend-dist.png -text
ecrire/img_pack/icones/bmp-dist.png -text
ecrire/img_pack/icones/bz2-dist.png -text
ecrire/img_pack/icones/css-dist.png -text
ecrire/img_pack/icones/deb-dist.png -text
ecrire/img_pack/icones/defaut-dist.png -text
ecrire/img_pack/icones/doc-dist.png -text
ecrire/img_pack/icones/dvi-dist.png -text
ecrire/img_pack/icones/eps-dist.png -text
ecrire/img_pack/icones/flv-dist.png -text
ecrire/img_pack/icones/gif-dist.png -text
ecrire/img_pack/icones/gz-dist.png -text
ecrire/img_pack/icones/html-dist.png -text
ecrire/img_pack/icones/jpg-dist.png -text
ecrire/img_pack/icones/mid-dist.png -text
ecrire/img_pack/icones/mov-dist.png -text
ecrire/img_pack/icones/mp3-dist.png -text
ecrire/img_pack/icones/mpg-dist.png -text
ecrire/img_pack/icones/odb-dist.png -text
ecrire/img_pack/icones/odc-dist.png -text
ecrire/img_pack/icones/odf-dist.png -text
ecrire/img_pack/icones/odi-dist.png -text
ecrire/img_pack/icones/odm-dist.png -text
ecrire/img_pack/icones/odp-dist.png -text
ecrire/img_pack/icones/ods-dist.png -text
ecrire/img_pack/icones/odt-dist.png -text
ecrire/img_pack/icones/ogg-dist.png -text
ecrire/img_pack/icones/otg-dist.png -text
ecrire/img_pack/icones/otp-dist.png -text
ecrire/img_pack/icones/ots-dist.png -text
ecrire/img_pack/icones/ott-dist.png -text
ecrire/img_pack/icones/pdf-dist.png -text
ecrire/img_pack/icones/pgn-dist.png -text
ecrire/img_pack/icones/png-dist.png -text
ecrire/img_pack/icones/ppt-dist.png -text
ecrire/img_pack/icones/ps-dist.png -text
ecrire/img_pack/icones/psd-dist.png -text
ecrire/img_pack/icones/qt-dist.png -text
ecrire/img_pack/icones/ra-dist.png -text
ecrire/img_pack/icones/ram-dist.png -text
ecrire/img_pack/icones/rm-dist.png -text
ecrire/img_pack/icones/rpm-dist.png -text
ecrire/img_pack/icones/rtf-dist.png -text
ecrire/img_pack/icones/sdd-dist.png -text
ecrire/img_pack/icones/sdw-dist.png -text
ecrire/img_pack/icones/sit-dist.png -text
ecrire/img_pack/icones/svg-dist.png -text
ecrire/img_pack/icones/sxc-dist.png -text
ecrire/img_pack/icones/sxi-dist.png -text
ecrire/img_pack/icones/sxw-dist.png -text
ecrire/img_pack/icones/tex-dist.png -text
ecrire/img_pack/icones/tgz-dist.png -text
ecrire/img_pack/icones/tif-dist.png -text
ecrire/img_pack/icones/torrent-dist.png -text
ecrire/img_pack/icones/ttf-dist.png -text
ecrire/img_pack/icones/txt-dist.png -text
ecrire/img_pack/icones/wav-dist.png -text
ecrire/img_pack/icones/xcf-dist.png -text
ecrire/img_pack/icones/xls-dist.png -text
ecrire/img_pack/icones/xml-dist.png -text
ecrire/img_pack/icones/zip-dist.png -text
ecrire/img_pack/icones_barre/agrave-maj.png -text
ecrire/img_pack/icones_barre/blanc.png -text
ecrire/img_pack/icones_barre/eacute-maj.png -text
ecrire/img_pack/icones_barre/espace.png -text
ecrire/img_pack/icones_barre/euro.png -text
ecrire/img_pack/icones_barre/gras.png -text
ecrire/img_pack/icones_barre/guillemets-de.png -text
ecrire/img_pack/icones_barre/guillemets-simples.png -text
ecrire/img_pack/icones_barre/guillemets-uniques-de.png -text
ecrire/img_pack/icones_barre/guillemets-uniques.png -text
ecrire/img_pack/icones_barre/guillemets.png -text
ecrire/img_pack/icones_barre/intertitre.png -text
ecrire/img_pack/icones_barre/italique.png -text
ecrire/img_pack/icones_barre/lien.png -text
ecrire/img_pack/icones_barre/notes.png -text
ecrire/img_pack/icones_barre/oelig-maj.png -text
ecrire/img_pack/icones_barre/oelig.png -text
ecrire/img_pack/icones_barre/quote.png -text
ecrire/img_pack/image-24.gif -text
ecrire/img_pack/interface-display-comp.png -text
ecrire/img_pack/interface-display.png -text
ecrire/img_pack/jauge-fond.gif -text
ecrire/img_pack/jauge-rouge.gif -text
ecrire/img_pack/jauge-vert.gif -text
ecrire/img_pack/langues-12.gif -text
ecrire/img_pack/langues-24.gif -text
ecrire/img_pack/langues-modif-12.gif -text
ecrire/img_pack/langues-off-12.gif -text
ecrire/img_pack/logo-spip.gif -text
ecrire/img_pack/logo_spip.jpg -text
ecrire/img_pack/loupe-moins.gif -text
ecrire/img_pack/loupe-plus.gif -text
ecrire/img_pack/loupe.png -text
ecrire/img_pack/m_envoi.gif -text
ecrire/img_pack/m_envoi_bleu.gif -text
ecrire/img_pack/m_envoi_bleu_rtl.gif -text
ecrire/img_pack/m_envoi_jaune.gif -text
ecrire/img_pack/m_envoi_jaune_rtl.gif -text
ecrire/img_pack/m_envoi_rtl.gif -text
ecrire/img_pack/message.gif -text
ecrire/img_pack/messagerie-24.gif -text
ecrire/img_pack/messagerie-48.png -text
ecrire/img_pack/monter-16.png -text
ecrire/img_pack/mot-cle-24.gif -text
ecrire/img_pack/naviguer-site.png -text
ecrire/img_pack/ortho-24.gif -text
ecrire/img_pack/pense-bete.gif -text
ecrire/img_pack/petite-cle.gif -text
ecrire/img_pack/petition-24.gif -text
ecrire/img_pack/plugin-24.gif -text
ecrire/img_pack/plus.gif -text
ecrire/img_pack/poubelle.gif -text
ecrire/img_pack/puce-blanche-anim.gif -text
ecrire/img_pack/puce-blanche-breve.gif -text
ecrire/img_pack/puce-blanche.gif -text
ecrire/img_pack/puce-orange-anim.gif -text
ecrire/img_pack/puce-orange-breve.gif -text
ecrire/img_pack/puce-orange.gif -text
ecrire/img_pack/puce-poubelle-anim.gif -text
ecrire/img_pack/puce-poubelle-breve.gif -text
ecrire/img_pack/puce-poubelle.gif -text
ecrire/img_pack/puce-rouge-anim.gif -text
ecrire/img_pack/puce-rouge-breve.gif -text
ecrire/img_pack/puce-rouge.gif -text
ecrire/img_pack/puce-verte-anim.gif -text
ecrire/img_pack/puce-verte-breve.gif -text
ecrire/img_pack/puce-verte.gif -text
ecrire/img_pack/racine-24.gif -text
ecrire/img_pack/racine-site-12.gif -text
ecrire/img_pack/racine-site-24.gif -text
ecrire/img_pack/rayures-danger.gif -text
ecrire/img_pack/rayures-danger.png -text
ecrire/img_pack/rayures-fines.gif -text
ecrire/img_pack/rayures-gris.gif -text
ecrire/img_pack/rayures-sup.gif -text
ecrire/img_pack/rayures.gif -text
ecrire/img_pack/redac-12.gif -text
ecrire/img_pack/redacteurs-24.gif -text
ecrire/img_pack/redacteurs-48.png -text
ecrire/img_pack/redacteurs-admin-24.gif -text
ecrire/img_pack/redacteurs-poubelle-24.gif -text
ecrire/img_pack/referers-24.gif -text
ecrire/img_pack/rien.gif -text
ecrire/img_pack/rond-b.gif -text
ecrire/img_pack/rond-bd.gif -text
ecrire/img_pack/rond-bg.gif -text
ecrire/img_pack/rond-d.gif -text
ecrire/img_pack/rond-g.gif -text
ecrire/img_pack/rond-h-24.gif -text
ecrire/img_pack/rond-hd-24.gif -text
ecrire/img_pack/rond-hg-24.gif -text
ecrire/img_pack/rubrique-12.gif -text
ecrire/img_pack/rubrique-24.gif -text
ecrire/img_pack/rv-12.gif -text
ecrire/img_pack/rv.gif -text
ecrire/img_pack/sans-heure.gif -text
ecrire/img_pack/searching.gif -text
ecrire/img_pack/secteur-12.gif -text
ecrire/img_pack/secteur-24.gif -text
ecrire/img_pack/set-ecran-etroit.png -text
ecrire/img_pack/set-ecran.png -text
ecrire/img_pack/site-24.gif -text
ecrire/img_pack/spip_out.gif -text
ecrire/img_pack/statistiques-24.gif -text
ecrire/img_pack/statistiques-48.png -text
ecrire/img_pack/style_prive_defaut.css -text
ecrire/img_pack/suivi-forum-24.gif -text
ecrire/img_pack/suivi-petition-24.gif -text
ecrire/img_pack/supprimer.gif -text
ecrire/img_pack/synchro-24.gif -text
ecrire/img_pack/test.gif -text
ecrire/img_pack/test.jpg -text
ecrire/img_pack/test.png -text
ecrire/img_pack/test_image.jpg -text
ecrire/img_pack/tirets-separation.gif -text
ecrire/img_pack/tourner-180.gif -text
ecrire/img_pack/tourner-droite.gif -text
ecrire/img_pack/tourner-gauche.gif -text
ecrire/img_pack/tout-site-24.gif -text
ecrire/img_pack/tout-site.png -text
ecrire/img_pack/traductions-24.gif -text
ecrire/img_pack/triangle-bas.gif -text
ecrire/img_pack/triangle-bleu-bas.gif -text
ecrire/img_pack/triangle-bleu.gif -text
ecrire/img_pack/triangle-droite.gif -text
ecrire/img_pack/triangle-droite_rtl.gif -text
ecrire/img_pack/triangle.gif -text
ecrire/img_pack/triangle_rtl.gif -text
ecrire/img_pack/vignette-24.png -text
ecrire/img_pack/visit-12.gif -text
ecrire/img_pack/visiter-48.png -text
ecrire/img_pack/visiter-48_rtl.png -text
ecrire/img_pack/warning-24.gif -text
ecrire/img_pack/warning.gif -text
ecrire/img_pack/wrapper.php -text
ecrire/img_pack/xml.gif -text
ecrire/inc/actions.php -text
ecrire/inc/agenda.php -text
ecrire/inc/ajax.php -text
ecrire/inc/article_select.php -text
ecrire/inc/auteur_voir.php -text
ecrire/inc/boutons.php -text
ecrire/inc/chercher_logo.php -text
ecrire/inc/cookie.php -text
ecrire/inc/distant.php -text
ecrire/inc/drapeau_edition.php -text
ecrire/inc/filtres_images.php -text
ecrire/inc/forum_insert.php -text
ecrire/inc/headers.php -text
ecrire/inc/import_0_0.php -text
ecrire/inc/import_1_2.php -text
ecrire/inc/import_1_3.php -text
ecrire/inc/install_.php -text
ecrire/inc/install_0.php -text
ecrire/inc/install_1.php -text
ecrire/inc/install_2.php -text
ecrire/inc/install_3.php -text
ecrire/inc/install_4.php -text
ecrire/inc/install_5.php -text
ecrire/inc/install_6.php -text
ecrire/inc/install_ldap1.php -text
ecrire/inc/install_ldap2.php -text
ecrire/inc/install_ldap3.php -text
ecrire/inc/install_ldap4.php -text
ecrire/inc/install_ldap5.php -text
ecrire/inc/install_unpack.php -text
ecrire/inc/lang_liste.php -text
ecrire/inc/message_select.php -text
ecrire/inc/mini_nav.php -text
ecrire/inc/minipres.php -text
ecrire/inc/plugin.php -text
ecrire/inc/popularites.php -text
ecrire/inc/sites_voir.php -text
ecrire/inc/suivi_versions.php -text
ecrire/inc/syndic.php -text
ecrire/inc/utils.php -text
ecrire/lang/ecrire_br.php -text
ecrire/lang/ecrire_bs.php -text
ecrire/lang/ecrire_cs.php -text
ecrire/lang/ecrire_ru.php -text
ecrire/lang/public_br.php -text
ecrire/lang/public_bs.php -text
ecrire/lang/public_cs.php -text
ecrire/lang/public_ru.php -text
ecrire/lang/spip_br.php -text
ecrire/lang/spip_bs.php -text
ecrire/lang/spip_cs.php -text
ecrire/lang/spip_ru.php -text
ecrire/rien.gif -text
ecrire/safehtml/classes/HTMLSax3.php -text
ecrire/safehtml/classes/HTMLSax3/Decorators.php -text
ecrire/safehtml/classes/HTMLSax3/States.php -text
ecrire/safehtml/classes/safehtml.php -text
ecrire/safehtml/license.txt -text
ecrire/safehtml/readme-SPIP.txt -text
ecrire/safehtml/readme.txt -text
ecrire/urls/page.php -text
ecrire/urls/propres-qs.php -text
ecrire/win_png.htc -text
formulaires/choix_mots.html -text
/inc-public.php3 -text
/index.php -text
/rien.gif -text
/spip.php -text
/win_png.htc -text
