* text=auto !eol
IMG/icones/ai-dist.png -text
IMG/icones/aiff-dist.png -text
IMG/icones/asf-dist.png -text
IMG/icones/avi-dist.png -text
IMG/icones/bmp-dist.png -text
IMG/icones/bz2-dist.png -text
IMG/icones/css-dist.png -text
IMG/icones/deb-dist.png -text
IMG/icones/defaut-dist.png -text
IMG/icones/doc-dist.png -text
IMG/icones/dvi-dist.png -text
IMG/icones/eps-dist.png -text
IMG/icones/gif-dist.png -text
IMG/icones/gz-dist.png -text
IMG/icones/html-dist.png -text
IMG/icones/jpg-dist.png -text
IMG/icones/mid-dist.png -text
IMG/icones/mov-dist.png -text
IMG/icones/mp3-dist.png -text
IMG/icones/mpg-dist.png -text
IMG/icones/ogg-dist.png -text
IMG/icones/pdf-dist.png -text
IMG/icones/pgn-dist.gif svneol=native#unset
IMG/icones/png-dist.png -text
IMG/icones/ppt-dist.png -text
IMG/icones/ps-dist.png -text
IMG/icones/psd-dist.png -text
IMG/icones/qt-dist.png -text
IMG/icones/ra-dist.png -text
IMG/icones/ram-dist.png -text
IMG/icones/rm-dist.png -text
IMG/icones/rpm-dist.png -text
IMG/icones/rtf-dist.png -text
IMG/icones/sdd-dist.png -text
IMG/icones/sdw-dist.png -text
IMG/icones/sit-dist.png -text
IMG/icones/sxc-dist.png -text
IMG/icones/sxi-dist.png -text
IMG/icones/sxw-dist.png -text
IMG/icones/tex-dist.png -text
IMG/icones/tgz-dist.png -text
IMG/icones/tif-dist.png -text
IMG/icones/torrent-dist.png -text
IMG/icones/txt-dist.png -text
IMG/icones/wav-dist.png -text
IMG/icones/xcf-dist.png -text
IMG/icones/xls-dist.png -text
IMG/icones/xml-dist.png -text
IMG/icones/zip-dist.png -text
IMG/icones_barre/agrave-maj.png -text
IMG/icones_barre/blanc.png -text
IMG/icones_barre/eacute-maj.png -text
IMG/icones_barre/espace.png -text
IMG/icones_barre/euro.png -text
IMG/icones_barre/gras.png -text
IMG/icones_barre/guillemets-de.png -text
IMG/icones_barre/guillemets-simples.png -text
IMG/icones_barre/guillemets-uniques-de.png -text
IMG/icones_barre/guillemets-uniques.png -text
IMG/icones_barre/guillemets.png -text
IMG/icones_barre/intertitre.png -text
IMG/icones_barre/italique.png -text
IMG/icones_barre/lien.png -text
IMG/icones_barre/notes.png -text
IMG/icones_barre/oelig-maj.png -text
IMG/icones_barre/oelig.png -text
IMG/icones_barre/quote.png -text
IMG/logo_spip.jpg -text
IMG/test.gif -text
IMG/test.jpg -text
IMG/test.png -text
IMG/test_image.jpg -text
dist/style.html -text
ecrire/charsets/cp1251.php -text
ecrire/charsets/cp1256.php -text
ecrire/charsets/html.php -text
ecrire/charsets/iso-8859-1.php -text
ecrire/charsets/iso-8859-15.php -text
ecrire/charsets/iso-8859-6.php -text
ecrire/charsets/iso-8859-9.php -text
ecrire/charsets/mathml.php -text
ecrire/charsets/translit.php -text
ecrire/charsets/translitcomplexe.php -text
ecrire/exec_accueil.php -text
ecrire/exec_admin_effacer.php -text
ecrire/exec_admin_repair.php -text
ecrire/exec_admin_tech.php -text
ecrire/exec_admin_vider.php -text
ecrire/exec_aide_index.php -text
ecrire/exec_ajax_page.php -text
ecrire/exec_articles.php -text
ecrire/exec_articles_edit.php -text
ecrire/exec_articles_forum.php -text
ecrire/exec_articles_ortho.php -text
ecrire/exec_articles_page.php -text
ecrire/exec_articles_tous.php -text
ecrire/exec_articles_versions.php -text
ecrire/exec_auteur_infos.php -text
ecrire/exec_auteurs.php -text
ecrire/exec_auteurs_edit.php -text
ecrire/exec_breves.php -text
ecrire/exec_breves_edit.php -text
ecrire/exec_breves_voir.php -text
ecrire/exec_brouteur.php -text
ecrire/exec_brouteur_frame.php -text
ecrire/exec_config_contenu.php -text
ecrire/exec_config_fonctions.php -text
ecrire/exec_config_lang.php -text
ecrire/exec_config_multilang.php -text
ecrire/exec_configuration.php -text
ecrire/exec_controle_forum.php -text
ecrire/exec_controle_petition.php -text
ecrire/exec_delete_all.php -text
ecrire/exec_documents_liste.php -text
ecrire/exec_export_all.php -text
ecrire/exec_forum_admin.php -text
ecrire/exec_forum_envoi.php -text
ecrire/exec_import_all.php -text
ecrire/exec_install.php -text
ecrire/exec_js_menu_rubriques.php -text
ecrire/exec_lang_raccourcis.php -text
ecrire/exec_message.php -text
ecrire/exec_message_edit.php -text
ecrire/exec_messagerie.php -text
ecrire/exec_mots_edit.php -text
ecrire/exec_mots_tous.php -text
ecrire/exec_mots_type.php -text
ecrire/exec_naviguer.php -text
ecrire/exec_recherche.php -text
ecrire/exec_rubriques_edit.php -text
ecrire/exec_sites_edit.php -text
ecrire/exec_sites_tous.php -text
ecrire/exec_spip_action_autoriser.php -text
ecrire/exec_spip_action_ical.php -text
ecrire/exec_spip_action_iconifier.php -text
ecrire/exec_spip_action_instituer.php -text
ecrire/exec_spip_action_joindre.php -text
ecrire/exec_spip_action_purger.php -text
ecrire/exec_spip_action_redirect.php -text
ecrire/exec_spip_action_supprimer.php -text
ecrire/exec_spip_action_test_dirs.php -text
ecrire/exec_spip_action_tester.php -text
ecrire/exec_spip_action_tourner.php -text
ecrire/exec_statistiques_lang.php -text
ecrire/exec_statistiques_referers.php -text
ecrire/exec_statistiques_repartition.php -text
ecrire/exec_statistiques_svg.php -text
ecrire/exec_statistiques_visites.php -text
ecrire/exec_synchro.php -text
ecrire/exec_upgrade.php -text
ecrire/img_pack/admin-12.gif -text
ecrire/img_pack/administration-24.gif -text
ecrire/img_pack/administration-48.png -text
ecrire/img_pack/agenda-24.gif -text
ecrire/img_pack/aide-48.png -text
ecrire/img_pack/aide-48_rtl.png -text
ecrire/img_pack/aide.gif -text
ecrire/img_pack/aide_rtl.gif -text
ecrire/img_pack/annonce.gif -text
ecrire/img_pack/article-24.gif -text
ecrire/img_pack/asuivre-24.gif -text
ecrire/img_pack/asuivre-48.png -text
ecrire/img_pack/attachment.gif -text
ecrire/img_pack/auteur-24.gif -text
ecrire/img_pack/barre-blanc.gif -text
ecrire/img_pack/barre-d.gif -text
ecrire/img_pack/barre-g.gif -text
ecrire/img_pack/barre-noir.gif -text
ecrire/img_pack/base-24.gif -text
ecrire/img_pack/breve-24.gif -text
ecrire/img_pack/cache-24.gif -text
ecrire/img_pack/cadenas-24.gif -text
ecrire/img_pack/cal-jour.gif -text
ecrire/img_pack/cal-messagerie.png -text
ecrire/img_pack/cal-mois.gif -text
ecrire/img_pack/cal-rv.png -text
ecrire/img_pack/cal-semaine.gif -text
ecrire/img_pack/cal-suivi.png -text
ecrire/img_pack/cal-today.gif -text
ecrire/img_pack/calendrier-24.gif -text
ecrire/img_pack/choix-layout.png -text
ecrire/img_pack/choix-layout_rtl.png -text
ecrire/img_pack/choix-layout_rtl_he.png -text
ecrire/img_pack/cookie-24.gif -text
ecrire/img_pack/creer.gif -text
ecrire/img_pack/croix-rouge.gif -text
ecrire/img_pack/deconnecter-24.gif -text
ecrire/img_pack/degrade.jpg -text
ecrire/img_pack/deplierbas.gif -text
ecrire/img_pack/deplierhaut.gif -text
ecrire/img_pack/deplierhaut_rtl.gif -text
ecrire/img_pack/doc-24.gif -text
ecrire/img_pack/documents-48.png -text
ecrire/img_pack/documents-48_rtl.png -text
ecrire/img_pack/edit.gif -text
ecrire/img_pack/effacer-cache-24.gif -text
ecrire/img_pack/favicon.ico -text
ecrire/img_pack/fiche-perso-24.gif -text
ecrire/img_pack/fiche-perso.png -text
ecrire/img_pack/fleche-left.png -text
ecrire/img_pack/fleche-right.png -text
ecrire/img_pack/fond-agenda.gif -text
ecrire/img_pack/fond-calendrier.gif -text
ecrire/img_pack/fond-gris-anim.gif -text
ecrire/img_pack/fond-stats.gif -text
ecrire/img_pack/forum-admin-24.gif -text
ecrire/img_pack/forum-droite.gif -text
ecrire/img_pack/forum-droite_rtl.gif -text
ecrire/img_pack/forum-interne-24.gif -text
ecrire/img_pack/forum-public-24.gif -text
ecrire/img_pack/forum-vert.gif -text
ecrire/img_pack/groupe-mot-24.gif -text
ecrire/img_pack/heures-am.png -text
ecrire/img_pack/heures-pm.png -text
ecrire/img_pack/heures-tout.png -text
ecrire/img_pack/historique-24.gif -text
ecrire/img_pack/image-24.gif -text
ecrire/img_pack/interface-display-comp.png -text
ecrire/img_pack/interface-display.png -text
ecrire/img_pack/jauge-fond.gif -text
ecrire/img_pack/jauge-rouge.gif -text
ecrire/img_pack/jauge-vert.gif -text
ecrire/img_pack/langues-12.gif -text
ecrire/img_pack/langues-24.gif -text
ecrire/img_pack/langues-modif-12.gif -text
ecrire/img_pack/langues-off-12.gif -text
ecrire/img_pack/logo-spip.gif -text
ecrire/img_pack/loupe-moins.gif -text
ecrire/img_pack/loupe-plus.gif -text
ecrire/img_pack/loupe.png -text
ecrire/img_pack/m_envoi.gif -text
ecrire/img_pack/m_envoi_bleu.gif -text
ecrire/img_pack/m_envoi_bleu_rtl.gif -text
ecrire/img_pack/m_envoi_jaune.gif -text
ecrire/img_pack/m_envoi_jaune_rtl.gif -text
ecrire/img_pack/m_envoi_rtl.gif -text
ecrire/img_pack/message.gif -text
ecrire/img_pack/messagerie-24.gif -text
ecrire/img_pack/messagerie-48.png -text
ecrire/img_pack/mot-cle-24.gif -text
ecrire/img_pack/naviguer-site.png -text
ecrire/img_pack/ortho-24.gif -text
ecrire/img_pack/pense-bete.gif -text
ecrire/img_pack/petite-cle.gif -text
ecrire/img_pack/petition-24.gif -text
ecrire/img_pack/plus.gif -text
ecrire/img_pack/poubelle.gif -text
ecrire/img_pack/puce-blanche-anim.gif -text
ecrire/img_pack/puce-blanche-breve.gif -text
ecrire/img_pack/puce-blanche.gif -text
ecrire/img_pack/puce-orange-anim.gif -text
ecrire/img_pack/puce-orange-breve.gif -text
ecrire/img_pack/puce-orange.gif -text
ecrire/img_pack/puce-poubelle-anim.gif -text
ecrire/img_pack/puce-poubelle-breve.gif -text
ecrire/img_pack/puce-poubelle.gif -text
ecrire/img_pack/puce-rouge-anim.gif -text
ecrire/img_pack/puce-rouge-breve.gif -text
ecrire/img_pack/puce-rouge.gif -text
ecrire/img_pack/puce-verte-anim.gif -text
ecrire/img_pack/puce-verte-breve.gif -text
ecrire/img_pack/puce-verte.gif -text
ecrire/img_pack/racine-24.gif -text
ecrire/img_pack/racine-site-12.gif -text
ecrire/img_pack/racine-site-24.gif -text
ecrire/img_pack/rayures-danger.gif -text
ecrire/img_pack/rayures-danger.png -text
ecrire/img_pack/rayures-fines.gif -text
ecrire/img_pack/rayures-gris.gif -text
ecrire/img_pack/rayures-sup.gif -text
ecrire/img_pack/rayures.gif -text
ecrire/img_pack/redac-12.gif -text
ecrire/img_pack/redacteurs-24.gif -text
ecrire/img_pack/redacteurs-48.png -text
ecrire/img_pack/redacteurs-admin-24.gif -text
ecrire/img_pack/redacteurs-poubelle-24.gif -text
ecrire/img_pack/referers-24.gif -text
ecrire/img_pack/rien.gif -text
ecrire/img_pack/rond-b.gif -text
ecrire/img_pack/rond-bd.gif -text
ecrire/img_pack/rond-bg.gif -text
ecrire/img_pack/rond-d.gif -text
ecrire/img_pack/rond-g.gif -text
ecrire/img_pack/rond-h-24.gif -text
ecrire/img_pack/rond-hd-24.gif -text
ecrire/img_pack/rond-hg-24.gif -text
ecrire/img_pack/rubrique-12.gif -text
ecrire/img_pack/rubrique-24.gif -text
ecrire/img_pack/rv-12.gif -text
ecrire/img_pack/rv.gif -text
ecrire/img_pack/searching.gif -text
ecrire/img_pack/secteur-12.gif -text
ecrire/img_pack/secteur-24.gif -text
ecrire/img_pack/set-ecran-etroit.png -text
ecrire/img_pack/set-ecran.png -text
ecrire/img_pack/site-24.gif -text
ecrire/img_pack/spip_out.gif -text
ecrire/img_pack/statistiques-24.gif -text
ecrire/img_pack/statistiques-48.png -text
ecrire/img_pack/suivi-forum-24.gif -text
ecrire/img_pack/suivi-petition-24.gif -text
ecrire/img_pack/supprimer.gif -text
ecrire/img_pack/synchro-24.gif -text
ecrire/img_pack/tirets-separation.gif -text
ecrire/img_pack/tourner-180.gif -text
ecrire/img_pack/tourner-droite.gif -text
ecrire/img_pack/tourner-gauche.gif -text
ecrire/img_pack/tout-site-24.gif -text
ecrire/img_pack/tout-site.png -text
ecrire/img_pack/traductions-24.gif -text
ecrire/img_pack/triangle-bas.gif -text
ecrire/img_pack/triangle-bleu-bas.gif -text
ecrire/img_pack/triangle-bleu.gif -text
ecrire/img_pack/triangle-droite.gif -text
ecrire/img_pack/triangle-droite_rtl.gif -text
ecrire/img_pack/triangle.gif -text
ecrire/img_pack/triangle_rtl.gif -text
ecrire/img_pack/vignette-24.png -text
ecrire/img_pack/visit-12.gif -text
ecrire/img_pack/visiter-48.png -text
ecrire/img_pack/visiter-48_rtl.png -text
ecrire/img_pack/warning-24.gif -text
ecrire/img_pack/warning.gif -text
ecrire/img_pack/xml.gif -text
ecrire/inc_agenda.php -text
ecrire/inc_ajax.php -text
ecrire/inc_auteur_voir.php -text
ecrire/inc_barre.php -text
ecrire/inc_boutons.php -text
ecrire/inc_cookie.php -text
ecrire/inc_distant.php -text
ecrire/inc_headers.php -text
ecrire/inc_lang_liste.php -text
ecrire/inc_magicquotes.php -text
ecrire/inc_mini_nav.php -text
ecrire/inc_minipres.php -text
ecrire/inc_popularites.php -text
ecrire/inc_sites_voir.php -text
ecrire/inc_suivi_versions.php -text
ecrire/inc_syndic.php -text
ecrire/inc_utils.php -text
ecrire/lang/ecrire_br.php3 -text
ecrire/lang/ecrire_ru.php3 -text
ecrire/lang/public_br.php3 -text
ecrire/lang/public_ru.php3 -text
ecrire/lang/spip_br.php3 -text
ecrire/lang/spip_ru.php3 -text
ecrire/polices/dustismo-license.txt -text svneol=unset#application/octet-stream
ecrire/polices/dustismo.ttf -text
ecrire/polices/dustismo_bold.ttf -text
ecrire/puce.gif -text
ecrire/puce_rtl.gif -text
ecrire/rien.gif -text
ecrire/safehtml/classes/HTMLSax3.php -text
ecrire/safehtml/classes/HTMLSax3/Decorators.php -text
ecrire/safehtml/classes/HTMLSax3/States.php -text
ecrire/safehtml/classes/safehtml.php -text
ecrire/safehtml/license.txt -text
ecrire/safehtml/readme-SPIP.txt -text
ecrire/safehtml/readme.txt -text
/inc-urls-propres-qs.php3 -text
/puce.gif -text
/puce_rtl.gif -text
/rien.gif -text
/spip_action.php -text
