includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - ecrire
        - prive
    excludePaths:
        analyseAndScan:
            - ecrire/lang
            - ecrire/tests
    level: 0
