includes:
	- phpstan-baseline.neon

parameters:
    paths:
        - ecrire
        - prive
    excludePaths:
        analyseAndScan:
            - ecrire/lang
        analyse:
            - ecrire/inc/idna_convert.class.php
    level: 0
