parameters:
	ignoreErrors:
		-
			message: "#^Function test_login\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: ecrire/action/inscrire_auteur.php

		-
			message: "#^Instantiated class csstidy not found\\.$#"
			count: 1
			path: ecrire/inc/filtres.php

		-
			message: "#^Function sous_repertoire\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: ecrire/inc/flock.php

		-
			message: "#^Function cache_unlock not found\\.$#"
			count: 1
			path: ecrire/inc/rechercher.php

		-
			message: "#^Function analyser_backend not found\\.$#"
			count: 1
			path: ecrire/iterateur/data.php

		-
			message: "#^Function image_du_document not found\\.$#"
			count: 1
			path: ecrire/public/quete.php

		-
			message: "#^Function vignette_automatique not found\\.$#"
			count: 1
			path: ecrire/public/quete.php

