includes:
    - phpstan-baseline.neon

parameters:
    phpVersion: 80200
    paths:
        - ecrire
    excludePaths:
        analyseAndScan:
            - ecrire/lang
            - ecrire/tests
    level: 0
