parameters:
	ignoreErrors:
		-
			message: "#^Call to function unset\\(\\) contains undefined variable \\$args\\.$#"
			count: 1
			path: ecrire/bootstrap/inc/logging.php

		-
			message: "#^Call to sprintf contains 0 placeholders, 2 values given\\.$#"
			count: 1
			path: ecrire/bootstrap/inc/logging.php

		-
			message: "#^Function cache_unlock not found\\.$#"
			count: 1
			path: ecrire/inc/rechercher.php

		-
			message: "#^Function analyser_backend not found\\.$#"
			count: 1
			path: ecrire/iterateur/data.php

		-
			message: "#^Function image_du_document not found\\.$#"
			count: 1
			path: ecrire/public/quete.php

		-
			message: "#^Function vignette_automatique not found\\.$#"
			count: 1
			path: ecrire/public/quete.php

