
/* Page de login
---------------------------------------------- */
.page_login  {
	margin:0;
	font-size: 16px;
	color: white;
	border:0;
	padding: 0;
	font-family: arial, helvetica, sans;
    background-color: rgb(233, 233, 242);
    background-size: cover;
}
.page_login label[for=var_lang_ecrire] {
	display: none;
}
.page_login .erreur_message,
.page_login .reponse_formulaire_erreur {
    font-size: 85%;
    padding-bottom: 5px;
}
.page_login .reponse_formulaire_erreur {
    padding: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
   background: rgba(255,255,255,0.8);
    background: white;
}
.page_login .reponse_formulaire_erreur ~ #formulaire_login fieldset {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.page_login #var_lang_ecrire {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
	-webkit-appearance: none;
}
 .page_login .formulaire_menu_lang {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 150px;
}
 .page_login .formulaire_login, .page_login .formulaire_spip.pass {
	width: 90%;
	max-width: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 50px;
	transform: translate(-50%, -50%);
}
.page_login .formulaire_spip fieldset {
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	line-height: 130%;
	border: 0;
	margin:0;
}
.page_login .formulaire_spip fieldset legend {
	display: none;
}
.page_login .formulaire_spip fieldset p {
	margin-bottom: 1em;
}
.page_login h1,  .page_login h3 {
	display: none;
}
.page_login .formulaire_spip fieldset .editer {
	margin-bottom: 0.5em;
}
.page_login .formulaire_spip fieldset .editer_session {
	margin-bottom: 0;
}
.page_login .editer_password {
	position: relative;
}
 .page_login #pass_securise {
	position: absolute;
	top: 0;
	right: 0;
}
 .page_login h1 {
	margin-left: -1.5em;
}
 .page_login h1,  .page_login label {
	font-size: 0.9em;
	padding-bottom: 0.2em;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
 .page_login h1,  .page_login input.text {
	width: 100%;
	box-sizing: border-box;
	border: 0px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	transition: 0.2s background-color;
}
 .page_login h1,  input.text:hover,
 .page_login h1,  input.text:focus{
	background-color: white;
}

 .page_login h1, .page_login #spip_logo_auteur {
	float: none;
	position: absolute;
	top: -130px;
	left: 50%;
	margin-left: -70px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}
 .page_login h1 {
	font-size: 85%;
	text-align: right;
	padding-top: 5px;
	padding-right: 30px;
}
.page_login p.details {
	font-size: 85%;
	text-align: right;
	padding-top: 0.3em;
}

 .page_login h1, .page_login p.details a {
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	opacity: 0.7;
}
 .page_login h1, .page_login p.details a:hover {
	opacity: 1;
}
 .page_login h1, .page_login .boutons {
	text-align: right;
	margin-right: 0px;
}
 .page_login h1, .page_login .boutons input.submit {
	font-size: 16px;
	border: 0px;
	padding: 7px 15px;
	background-color: #E8246F
	transition: 0.2s background-color, 0.2s color;
	border-radius: 4px;
	color: white;
	-webkit-appearance: none;
}
 .page_login h1, .page_login .boutons input.submit:hover,
 .page_login h1, .page_login .boutons input.submit:focus {
	background-color: white;
	color: black;
}

 .page_login h1, .page_login #spip_logo_auteur img {
	position: inline;
	margin: 0 !important;
}
 .page_login p.retour {
	position: absolute;
	left: 20px;
	bottom: 10px;
}
 .page_login p.retour a {
	color: white;
	color: #E8246F;
	font-size: 12px;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
 .page_login p.retour a:before {
	content: "⬅︎ ";
}
 .page_login p.generator {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.page_login h1 {
	margin-bottom: 1em;
	font-size: 1.4em;
}
