.minipublic-bloc {text-align: left}
.minipublic-bloc header h1 {display: none}

/* LAYOUT / Disposition a l'ecran
---------------------------------------------- */
.minipublic { position: relative; margin: 0 auto; }
.quitter_fenetre { position: absolute; right: 1.5em; top: 1.5em; }
.quitter_fenetre a { display: block; width: 1.5em; height: 1.5em; background: url(images/fermer-16.png) no-repeat right center; color: #fff; text-indent: -999em; }

.minipublic-bloc header {color: white;background: #DB1762;padding: 0.75em 2em;}
@media (min-width: 680px) {
	.minipublic-bloc { width: 650px;border: 2px solid #DB1762;}
	.minipublic-bloc .corps { padding: 1.5em 2em;overflow: hidden;}
	.minipublic-bloc header {padding: 0.75em 2em;}
	.minipublic-bloc h2 {font-size: 1.1em;color: white;margin: 0 !important;}
}
@media (max-width: 680px) {
	body {padding: 1.5em;}
	.minipublic-bloc {width: auto;max-width: 25em;min-width: 15em; background: transparent;border: 0}
	.minipublic-bloc header {padding: 0.75em 0;}
	#etapes, #infos_etapes {display: none;}
}

@media screen and (max-width:680px) and (orientation: landscape) {
	body { -webkit-text-size-adjust: 70%; }
}


/* Formulaires
---------------------------------------------- */

.formo,
input.text,
input.password, select { display: block; margin-bottom: 0.5em; background: #F8F8F9 center bottom; padding: 4px; border: 1px solid #BEBEBF; border-radius: 3px; font-size: 1.2em; width: 100%; height: 2.5em; }
button, input[type=submit] { color: white;background: #DB1762;border: none;border-radius: 4px;padding: 8px 1em;font-size: 1.2em;font-weight: bold;}
button:hover, input[type=submit]:hover,
button:focus, input[type=submit]:focus { background: #881644; }

.formulaire_spip { clear: both; margin-bottom: 1.5em; padding: 0; background: none; border: 0; text-align: left; }
.formulaire_spip form { margin: 0; padding: 0; }
.formulaire_spip fieldset,
fieldset,
.fieldset { margin: 0 0 1em 0; padding: 0 1em 0.5em 1em; background: #FFFFFF; border: 1px solid #CCCCCC; border-radius: 4px; text-align: left; }
legend { font-weight: bold; color: #333; padding: 0.5em; }  /* Preciser la couleur des legend pour IE/Win */
label {display: inline-block; margin-bottom: .5em;}
input[type=radio],input[type=checkbox] {display: inline-block; margin-right: 0.75em; margin-bottom: .5em;}

.formulaire_spip fieldset .editer-groupe { margin: 0; padding: 0; list-style: none; }
.formulaire_spip fieldset .editer { clear: both; margin: 0 0 1.5em; padding: 0; }
.formulaire_spip fieldset .editer label,
.formulaire_spip fieldset .editer .erreur_message,
.formulaire_spip fieldset .editer .details { display: block; width: auto; margin: 0; }
.formulaire_spip fieldset .editer.obligatoire label { font-weight: bold}

.formulaire_spip .editer .choix label { display: inline; font-weight: normal; }
.formulaire_spip .choix input.radio,
.formulaire_spip .choix input.checkbox { width: auto; }

.boutons { margin-top: 1.5em; text-align: right; }

/* erreur */
.formulaire_spip fieldset .editer-groupe .editer.erreur {}
.formulaire_spip fieldset .editer-groupe .editer.erreur input { border-color: red; background-color: #fcc; }
.reponse_formulaire,
.erreur_message { font-weight: bold; color: red; }
.reponse_formulaire.reponse_formulaire_ok {border: 2px solid #C6D880;font-weight: normal;padding: 0.8em;margin-bottom: 1.5em;color: #264409;background-color: #E6EFC2;}



/* Habillage (en vrac)
---------------------------------------------- */

.petit-centre { width: 300px; margin: auto; margin-bottom: 1.5em; text-align: center; }
.petit-centre .logo { margin-bottom: 1.5em; }

.toile_foncee { background: #777; }

#etapes { display: block; position: absolute; top: 10px; left: 10px; }
#etapes span { display: block; margin-top: -0.50em; padding: 12px 14px; margin-bottom: 5px; }
#etapes span em { font-size: 2em; font-weight: bold; }
#etapes span span { position: absolute; top: -100px; left: -100px; }
#etapes span.ok { background: url(images/etape-ok.gif) center no-repeat; }
#etapes span.encours { background: url(images/etape-encours.gif) center no-repeat; }
#etapes span.todo { background: url(images/etape-todo.gif) center no-repeat; }

#infos_etapes { display: flex; height: 63px; overflow: hidden; margin: 0; padding: 0; padding-left: 10px; background: #8c8c8c url(images/degrade-etapes-clair-left.gif) no-repeat right top; text-align: left; list-style: none; }
#infos_etapes.infos_etape_4 { background-image: url(images/degrade-etapes-rose-left.gif); background-color: #db1762; }
#infos_etapes li { max-width: 160px; margin-left: -28px; padding-left: 29px; background: url(images/degrade-etapes-fonce-left.gif) no-repeat left top; color: #555; text-align: left; font-size: .9em; line-height: 1.05em; }
#infos_etapes li .fond { height: 69px; padding-right: 25px; padding-top: 10px; background: url(images/degrade-etapes-fonce-left.gif) no-repeat -2em top; }
#infos_etapes li em {float:left;position:absolute;top:-1000px;}
#infos_etapes li span.numero_etape { float: left; display: block; height: 50px; margin-left: -10px; padding: 7px 3px 0 3px; font-weight: bold; font-size: 3em; }
#infos_etapes li.on { background-image: url(images/degrade-etapes-rose-left.gif); color: #fff; font-weight: bold; }
#infos_etapes li.on .fond { background-color: #db1762; background-image:  url(images/degrade-etapes-rose-left.gif); }
#infos_etapes li.erreur { background-image: url(images/degrade-etapes-rouge-left.gif); }
#infos_etapes li.erreur .fond { background-color: #ff6868; background-image: url(images/degrade-etapes-rouge-left.gif); }
#infos_etapes li.valides { color: white; }
#infos_etapes li.prochains { background-image: url(images/degrade-etapes-clair-left.gif); }
#infos_etapes li.prochains .fond { background-color: #dbdbdb;background-image: url(images/degrade-etapes-clair-left.gif); }

/* installation des plugins */

.install-plugins {position:relative;margin-bottom: 0;}
.install-plugins.success + .install-plugins.success {margin-top: 0;border-top: 0;}
.install-plugins.error + .install-plugins.error {margin-top: 0;border-top: 0;}
.install-plugins .result {display:block;position:absolute;top:0.8em;right:0.8em;font-weight:bold;}
.install-plugins .success {display: none;} /* ne pas afficher les installations ok mais seulement les echecs */
/* Couleurs des liens
---------------------------------------------- */
a { color: #db1762; text-decoration: none; }
a:focus,
a:hover { color: #922149; text-decoration: underline; }
a:active { color: #922149; }

/* end */
